body {
  background-color: #F2F2F2;
}

.categorycontainer {
  width: 60%;
  margin: auto;
  margin-bottom: 50pt;
}

.categorycarousel {
  display: flex;
  margin-top: 36pt;
  margin-bottom: 53pt;
  width: 157%;
  right: 229pt;
}

/*.slick-track {
  display: flex;
}*/

.carouselitem {
  text-transform: uppercase;
  font-family: "Roboto Slab",Arial,Helvetica,sans-serif;
  font-size: 15pt;
  color: rgb(155, 155, 155);
  flex: 1;
  font-weight: 300;
  margin-right: 40px;
}

.categoryboxcontainer {
}

.categorytitle{
  color: rgb(0, 0, 0);
  font-size: 28pt;
  font-family: "Roboto Slab",Arial,Helvetica,sans-serif;
  letter-spacing: 0.50px;
  margin-top: 100px;
}

.categoryhr{
  width: 50pt;
  min-height: 3pt;
  background-color: rgb(18, 26, 43);
  margin-bottom: 40px !important;
  margin-top: 20px !important;
}

.categoryfirstbox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  background-color: #fff;
  padding-bottom: 30px;
}

.categoryfirst box a {
  display: flex;
}

.categoryfirstboximg {
  width: 100%;
}

.categoryfirstboxcontent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding-right: 159pt;
}

.categoryfirstboxtitle{
  font-size: 28pt;
  color: rgb(0, 0, 0);
  font-family: "Roboto Slab",Arial,Helvetica,sans-serif;
  margin-bottom: 8pt;
  margin-top: 20pt;
  margin-left: 32pt;
  font-weight: 300;
}

.categoryfirstboxtext {
  font-size: 14pt;
  color: rgb(74, 74, 74);
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  margin-bottom: 22pt;
  margin-left: 32pt;
  line-height: 2;
  font-weight: 300;
}

.categoryfirstboxauthor {
  display: flex;
  justify-content: flex-start;
  margin-top: auto;
}

.categoryfirstboxauthor img {
  width: 33pt !important;
  height: 33pt !important;
  border-radius: 50%;
}

.authorname {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 12pt;
  color: rgb(74, 74, 74);
}

.categoryimage img {
  margin-top: 0 !important;
  margin-right: 13pt;
  margin-left: 32pt;
}

.articledetails {
  margin-top: 1px;
}

.categoryboxrow{
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  width: 78%;
}

.categoryboxrow a{
  display: flex;
  flex: 1;
  justify-content: space-between;
  margin-right: 25px;
}

.categoryboxrow a:last-child {
  margin-right: 0;
}

.categoryboxrowfirst{
  display: flex;
  margin: 0 auto;
  margin-bottom: 50px;
  width: 78%;
}

.categoryboxrowfirst a{
  display: flex;
  flex: 2;
}

.categoryboxrowaside {
  display: flex;
  flex-direction: column;
  margin-left: 12px;
  flex: 1;
}

.categoryboxrowaside a{
  display: flex;
  flex: 1;
  height: 297px;
  background-color: #fff;
  margin-left: 13px;

}

.categoryboxrowaside a:first-child {
  margin-bottom: 30px;
}

.categoryboxaside{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 285px;
  margin-bottom: 30px;
  padding-bottom: 50px;
}

.categorybox {
  flex: 1;
  margin-top: 21pt;
  /*margin-right: 25px;*/
  margin-bottom: 21pt;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}

.categoryboxaside img {
  height: 50%;
}

.categoryboxaside .categoryboxcontent {
  overflow: hidden;
  height: 50%
}

.categoryboximage {
  padding-left: initial;
  padding-right: initial;
}

.categoryboximg {
  width: 100%;
  height: 100%;
}

.categoryboxcontent {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 25px 35px 10px 40px;
}

.categoryboxtitle {
  font-family: "Roboto Slab",Arial,Helvetica,sans-serif;
  font-size: 16pt;
  color: rgb(0, 0, 0);
  /*margin-top: 20pt;*/
  margin-bottom: 8pt;
  /*margin-left: 23pt;*/
  font-weight: 300;
}

.categoryboxtext {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 14pt;
  color: rgb(74, 74, 74);
  line-height: 1.7;
  margin-bottom: 5pt;
  margin-left: 24pt;
  font-weight: 300;
}

.boxauthorimage {
  margin-top: 22pt;
  margin-right: 13pt;
  border-radius: 50%;
  width: 33pt;
  height: 33pt;
  margin-left: 27pt;
}

.boxauthorname {
  margin-top: 22pt;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  color: rgb(74, 74, 74);
  font-size: 12pt;
}

.documentdetails {
  font-size: 12pt;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  color: rgb(155, 155, 155);
  font-weight: 300;
}

.backtotopcontainer {
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 12%;
  margin-top: 94pt;
}

.backtotop:hover {
  text-decoration: none;
}

.backtotoptext {
  text-transform: uppercase;
  color: rgb(155, 155, 155);
  font-size: 15pt;
  font-family: "Roboto Slab",Arial,Helvetica,sans-serif;
  font-weight: 300;
}

.backtotop i {
  margin-left: 0;
  color: rgb(155, 155, 155);
  font-size: 34pt;
}

.slick-next {
  right: 17px;
  top: 15px;
}

.slick-prev {
  top: 15px;
}

.slick-next:before {
  content: "\f105";
  font-family: FontAwesome;
}

.slick-prev:before {
  content: "\f104";
  font-family: FontAwesome;
}

.slick-next:before, .slick-prev:before {
  font-size: 28px;
  line-height: 0.5;
  color: rgb(155, 155, 155);
}

.flexholder {
  margin-right: 25px;
}

.loginform {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: 125px;
}

.login-failed .loginbutton:after {
  content: "Login Failed";
}

.login-success .loginbutton:after {
  content: "Login Successful";
}
