---
---

* {
  margin: 0;
}

body {
  overflow-y: auto;
  min-height: 100%;
  height: 100vh;
}

a:hover, a:focus {
  text-decoration: none;
}

.post-content a {
  color: #0645AD;
}

.post-content a:hover {
  text-decoration: underline;
  background-color: inherit;
}

.page-wrap {
  flex: 1;
}

.site-footer {
  height: 100px;
  display: block;
  margin-top: 88px;
  box-sizing: border-box;
  width: 100%;
  flex: 1;
}

.footertext {
  font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
  font-weight: 200;
  color: #fff;
  margin-top: 15px;
  margin-left: 160px;
}

/*inner page css */
.h1 {
  margin-bottom: 10px;
  color: #5879DA;
  font-size: 32px;
}

.categoryboxauthor {
  display: flex;
}

h1[id], h2[id], h3[id], h4[id], h5[id], h6[id], dt[id] {
  margin-top: 30px;
  padding-top: 0;
}

h2[id] {
  color: #162036;
  font-family: "Roboto",Arial;
  font-size: 18px;
  margin-bottom: 0;
  margin-top: 30px;
}
h3[id]{
  font-family: "Roboto",Arial,Helvetica,sans-serif;
  color: rgb(74, 74, 74);
  font-size: 22px;
  font-weight: bold;
  margin-top: 44px;
}
h4[id]{
  font-family: "Roboto", Arial;
  color:#5879da;
  font-size: 18px;
  font-weight: 600;
}

h4 code.highlighter-rouge {
    color: #fff;
    margin-left: 5px;
}

.h2 {
  color: #162036;
  font-family: Roboto,Arial;
  font-size: 1.0666em;
  margin-bottom: 30px;

}
.h3 {
  color: #5879da;
  font-family: Roboto,Arial;
  font-size: 0.9333em;
  margin-bottom: 8px;
  margin-top: 14px;
}
.h4 {
  color: #5879da;
  font-family: "Roboto",Arial;
  font-size: 0.86em;
  font-weight: 600;
  margin-bottom: 8px;
  margin-top: 7px;
}
.post-content table{
  max-width: initial;
  border: 1px solid #d6d6d6;
  width: 125%;
}

.post-content table td:first-child {
  width:unset;
  /*max-width: 150px;*/
  font-weight: bold;
}
.post-content table  tr  td {
   font-size: 0.8em;
   font-family: "Open Sans";
    color: #666666;
    word-wrap:break-word;
    max-width: 160px;
    height: 50px;
}

.post-content table > thead > tr > th {
  background-color: #162036;
  font-family: "Open Sans";
  font-size: 0.8888em;
  font-weight: bold;
}

@media screen and (max-width:768px){
  .post-content table{
    max-width: 88%;
  }
}

@media screen and (max-width:425px){
  .post-content table{
    max-width: 90%;
  }
}
table > thead > tr > th, table > tbody > tr > th, table > tfoot > tr > th, table > thead > tr > td, table > tbody > tr > td, table > tfoot > tr > td {
  border-top: 1px solid #d6d6d6;

}
table > thead > tr > th {
 border-bottom: none;
}
.post-content > ul {
    color: #666666;
    font-family: "Open Sans",Arial;
    font-size: 1em;
}

.designsheet table tr td {
  font-size: 0.9em;
  line-height: 2.4em !important;
  text-align: center;
  font-weight: bold;
}

.designsheet table tr th {
  background-color: #162036;
  font-family: "Open Sans";
  font-size: 0.8888em;
  font-weight: bold;
  color: #fff;
}

.designsheet img {
    width: auto !important;
    float: right;
}

.designsheetnumber {
  font-size: 2.5em;
  margin-bottom: 7%;
  padding-top: 1.5%;
  margin-left: 40%;
  border: 3px solid darkorange;
  height: 50px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  width: 50px;
  background-color: orange;
  color: #fff;
}

code {
  background-color: #162036;
  border-radius: 4px;
  color: #fff;
  padding: 2px 10px;
  /*white-space: initial;*/
}

td code {
  color: #666666;
}

/*toc nav bar */
div#toc {
  background-color: #f2f2f2;
  display: none;
  margin-top: 14px;
  /*min-width: 300px;*/

  position: absolute;
  z-index: 1;
}
div#toc ul {
  width:100%;
  font-size: 11px;
  text-decoration: none;
  color: #5879da;
  list-style-type: none;
  list-style-position: inside;
  max-width: 500px !important;
  margin-top: 12px;
}

div#toc > ul {
  margin-top: -10px;
}

div#toc ul li {
  font-size: 110%;
  list-style: none;
  margin: 8px 0;
  list-style-position: inside;

}
div#toc ul li a {
  color: #5896ed;
  display: block;
  overflow-wrap: break-word;
  padding: 0px;
}

div#toc ul li a:hover{
  text-decoration: none;
  color:black;
}
div#toc > ul > li {
  margin-bottom: 5px;
  margin-top: 0;
  padding: 0;
}
div#toc > ul > li:first-child{
  margin-top:14px;
}
div#toc > ul > li > a {
  vertical-align: top;

}
div#toc > ul > li > a span {
  display: inline-block;
  height: 12px;
  padding-left: 15px;
  padding-right: 15px;
  word-break: break-all;
}

div#toc  ul  li  a.anchorjs-link{
  display: none;
}

div#toc ul li ul li::before {
  content: "";
}
div#toc ul li ul li a{
  display: block;
}
div#toc > ul > li > ul {
  margin-top: 0;
  padding-left: 9px;
}
div#toc ul li ul li ul{
   padding-left: 0px;
}


/*end toc nav bar */
/*left nav bar */
ul#mysidebar.nav {
  color: #5879da;
  font-family: "Roboto Slab",Arial,Helvetica,sans-serif;
  font-size: 0.73em;
  text-decoration: none;
  margin-left: -60px;
  height: 71%;
  width: 23%;
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
  top: 70px;
  display: flex;
  flex-direction: column;

}

.fadein, .fadeout {
  opacity: 0;
 -moz-transition: opacity 0.2s ease-in-out;
 -o-transition: opacity 0.2s ease-in-out;
 -webkit-transition: opacity 0.2s ease-in-out;
 transition: opacity 0.2s ease-in-out;
}

.fadein {
  opacity: 1;
  display: flex !important;
  flex-direction: column;
}

ul#mysidebar > li.folder {
  width: 99%;
}

}
ul#mysidebar > li.folder > a{
  margin-left: 5px;
}

ul#mysidebar > li.folder ul {
  display: none;
}
ul#mysidebar > li.folder ul.folderactive{
   display: block;
}

ul#mysidebar li{
  display: inline-block;

}
#mysidebar > li:not(.folder) {
  font-size: 1.1em;
}
ul#mysidebar.nav li a {
  display: inline-block;
  color: #000000;
  font-family: "Roboto Slab",Arial,Helvetica,sans-serif;
  font-size: 16px;
  overflow-wrap:break-word;
}

.nav > li > a:hover, .nav > li > a:focus {
  background-color: inherit;
}

ul#mysidebar.nav > li > a{
  padding: 2px 10px 0 0;
  line-height: 1.6;
}
ul#mysidebar li ul li{
  margin-right: 0px;
}
ul#mysidebar.nav li a.active{
  color: #162036;
}
ul#mysidebar.nav li.activepage{
  background-color: #F2F2F2;
}
ul#mysidebar.nav li.activepage a{
  background-color: #F2F2F2;
}
#mysidebar.nav li.folder > a{
 font-size: 16px;
}

ul#mysidebar.nav li ul li {
  padding-left: 17px;
}
 ul#mysidebar.nav ul li a {
  border-top: none;
  width: 100%;
  padding: 0 15px 0 0;
}

.nav ul {
  margin: 10px 0 0 10px;
}

div.sidebarTitle {
  color: #162036;
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 9px;
  margin-left: 26px;
  width: 270px;
  top: 68px;
  font-family:  "Roboto", "Open Sans", Helvetica, sans-serif;
  white-space:nowrap;
  visibility: hidden;
  position: relative;
}

div.sidebarTitle span{
  vertical-align: top;
  font-size: 22px;
}
div.sidebarTitle-holder {
    font-size: 1.333em;
    font-weight: normal;
    visibility: hidden;
    margin-top: 50px;
    position: relative;
    font-family:  "Roboto Slab", "Open Sans", Helvetica, sans-serif;
}

/*CSS for general styling of Chat/Messaging Indicator*/
.indicator{
  color: #FFFFFF;
  background-color: #162036;
  display: inline-block;
  border: 1px #FFFFFF;
  border-radius: 2px;
  font-size: 1em;
  padding: 2px 4px;
  margin-bottom: 10px;
  position: relative;
  font-family: "Open Sans", "Roboto Slab", Arial, Helvetica, sans-serif;
  cursor: default;
}

/*CSS for tooltip of Indicator*/

.indicator .indicatortooltip{
  visibility: hidden;
  width: 120px;
  background-color: #162036;
  color: #FFFFFF;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  left: -349%;  /* positioning the tooltip on the "C"*/
  margin-top: 9px;

}

/*CSS for tooltip arrow*/
.indicator .indicatortooltip::after {
    content: " ";
    position: absolute;
    bottom: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #162036 transparent;
}

.indicator:hover .indicatortooltip{
  visibility: visible;
}

/*CSS for specific styling of Chat Indicator*/
.chat{
  background-color: #162036;
}

.messaging{
  background-color: #5879DA !important;
}

.messaging > .indicatortooltip{
  background-color: #5879DA !important;
  left: -285% !important;
}

.messaging > .indicatortooltip::after{
  border-color: transparent transparent #5879DA transparent !important;
}

.breadcrumbs {
  background-color: white;
  border-bottom: 1px solid lightgray;
  border-radius: 0;
  margin-bottom: 0;
  margin-left: 10px;
  margin-top: 9px;
  min-height: 47px;
  padding-bottom: 5px;
  padding-left: 0;
  padding-top: 15px;
  width: 100%;
  z-index: 10;
  position: fixed;
}
.breadcrumb-item + .breadcrumb-item::before{
  content: '';
}

.breadcrumbs .breadcrumb-item{
  text-decoration:none;
}

.breadcrumbs .breadcrumb-item.clicked::after {
    content: "\f077";
}
.breadcrumbs .breadcrumb-item.no-after{
  content: '';
}
.breadcrumbs .breadcrumb-item span.down-arrow{
   display: inline-block;
    padding-right: 1em;
    padding-left: 0em;
    color: #5896ed;
    font-size: 0.8em;
    font-weight: bold;
    text-decoration: none;
    font-family: "FontAwesome";
    width:10px;
    height: 10px;
}
/*.breadcrumbs .active{
  content: "∧";
}*/

.breadcrumb > .active {
	cursor: pointer;
}

.post-content {
  /*max-width: 743px;*/
  /*padding-top: 26px;*/
}

.post-content > p, .post-content ol,.post-content ul {
  color: #4a4a4a;
  font-family: "Open Sans",Arial;
  font-size: 18px;
  overflow-wrap: break-word;
}

.post-content > li > p {
  color: #666666;
  font-family: "Open Sans",Arial;
  font-size: 0.9em;
  overflow-wrap: break-word;
}

.post-content p strong {
  color: #181818;
  font-family: "Open Sans","Roboto",Arial,Helvetica,sans-serif;
  /*font-weight: lighter;*/
}

.post-content,.post-content *{
  overflow-wrap: break-word;
}


pre {
  margin: 20px 0;
  max-width: 640px;
  border: none;
  border-radius: 0px;
  padding: 15px 36.5px;
}
/*change the defaults colors to match yeal design*/


/*.highlight .na {
  color: #d6c30f;
}
.highlight .s {
  color: #1a78ca;
}

.highlight .nt {
  color: #ff00ff;
}*/

/*not active page */
 #not-available {
        border: solid #162036 1px;
        padding: 40px 20px;
        font-size: 1.2em;
        display: inline-block;
        margin: 0 auto;
        text-align: center;
        font-family: Roboto Slab;
        top: 45%;
        left: 50%;
        transform: translate3d(-50%,-50%, 0);
        position: absolute;
}

.fixed{
  position: fixed;
}

.margin-top-zero{
  margin-top: 0px;
}

.margin-top-68{
  margin-top: 68px;
  position: initial !important;
}

.inside-page-content {
  margin-left: 0;
  padding-left: 0;
  width: 97%;
  text-align: justify;
}

@media (min-width: 1114px)
{
  ul#mysidebar {
  margin-left: 9px;
  top: 160px;
  width: 230px;
  height: 100%;
  margin-left: 0px;
}
}


@media (max-width: 1190px){
    div.sidebarTitle{
      margin-top: 68px;
    }
    div.sidebarTitle-holder{
     display: none !important;
    }
    div.inside-page-content, .inside-page-content .h2{

    }


}

@media (max-width: 992px){
  div.inside-page-content{
    margin-top: 30px;
  }
  div.inside-page-content {

    margin-left: 12px;
  }
  .post-content table tr td{
    max-width: 200px;
  }
  div.sidebarTitle{
        position: initial;
      }
  div#toc {
      margin-top: 6px;
      position: fixed;
      width: 100%;
      left: 0px;
  }
  div#toc ul{
    padding-left:10px;
  }
}

@media (max-width: 414px)
{
  div.sidebarTitle {
      margin-top: 84px;
  }
}

.contactusBtn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 1.2em;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
}

.contactusBtn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

/** VisualPing Styling Begin
   This div contains the iframe and is set to be responsive
   Edit the max-with to suit your needs
   **/
   .visualping-container {
     position: relative;
     width: 100%;
     overflow: hidden;
     max-width: 235px;
     margin: 0 auto;
     margin-left: 2px;
     margin-top: -33px;
     display: none;
   }

   /**Position of the iframe inside the reponsive div **/
   .visualping-container iframe {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
   }

   /** hides the ugly borders **/
   iframe {
     border: 0;
   }


   @media only screen and (max-width: 767px) {

     /* the div containing the iframe is responsive */
     .visualping-container {
       -webkit-box-sizing: inherit;
       -moz-box-sizing: inherit;
       box-sizing: inherit;
       max-width: 95%;
     }
   }
/*visualping ends*/

/*Expertise styling begins here, but leave the rest intact*/

.navcontainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: rgb(20, 32, 53);
  min-height: 67.5px;
  align-items: center;
}

.navlogo{
  flex: 2;
  display: flex;
  align-items: center;
}

.navlogo img {
  margin-left: 81px;
  width: 205px;
}

.navrest {
  display: flex;
  flex: 1;
  align-items: center;
  margin-right: -108px;
}

.aa-input-search {
  padding: 12px 0px 12px 17px;
  display: block;
  cursor: text;
  transition: none;
  width: 100%;
  background: none;
  border-right: none;
  border-top: none;
  border-bottom: solid 1px #9B9B9B;
  border-left: none;
  height: 39px;
}

#aa-search-input {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 21px;
  height: 100%;
  width: 100%;
  font-weight: 100;
  padding-left: 100px;
}


.navbuttons {
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.navcontactus {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  color: #fff;
  font-size: 14px;
  margin-left: 122px;
  margin-right: 41px;
  font-weight: 100;
}

.navlogin {
  flex: 2;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  color: #fff;
  font-size: 14px;
  font-weight: 100;
}

.pagecontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
}

.pageheader {
  display: flex;
  flex-direction: column;
  width: 37%;
  margin-top: 37px;
}

.breadcrumbsknowledge {
  display: flex;
}

.breadcrumbsitem {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #9b9b9b;
}

.breadcrumbsslash {
  color: #5879da;
  font-size: 12px;
  margin: 0 9px 0 9px;
}

.pagecategory {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #9B9B9B;
  font-weight: 300;
  align-self: center;
}

.pagetitle {
  font-family: "Roboto Slab",Arial,Helvetica,sans-serif;
  font-size: 28px;
  color: #000000;
  margin-top: 38px;
  margin-bottom: 9px;
  font-weight: 300;
}

.pagehr{
  width: 60%;
  margin: 15px 0px;
  border-top: 1px solid rgba(256, 256, 256);
}

.articlehr {
  width: 100%;
  margin: 10px 0px 20px 0px;
  border-top: 1px solid rgba(222, 221, 221);
}

.pageimage {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 396px;
}

.scrollbarlist .active {
  color: rgb(88, 121, 218);
}

.scrollbar {
  align-self: flex-start;
  margin-left: 40px;
  width: 18%;
}


.scrollbarlist {
  font-size: 14px;
  color: rgb(155, 155, 155);
  font-family: "Roboto",Arial,Helvetica,sans-serif;
  line-height: 2;
  list-style-type: none;
  width: 18%;
  position: fixed;
}

.scroll-to-fixed-fixed {
  margin-top: 0;
}

.pagecontent {
  position: relative;
  top: -310px;
  width: 50%;
  margin: 0 auto;
}

.pagecontentnotfound {
  margin-bottom: 510px;
  font-size: 24px;
}

.contentrow {
  padding: 75px 75px 0 650px;
  background: #fff;
  margin-left: 40px;
}

.post-content {
  background-color: #ffffff;
}

.post-content img {
  margin-top: 25px;
  margin-bottom: 25px;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

p ~ img {
  margin-left: 40px !important;
}

.imagetext {
  margin: 0 auto;
  width: 35%;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}

.summary {
  border: none;
  font-size: 16px;
  font-family: "Roboto Slab",Arial,Helvetica,sans-serif;
  color: #9b9b9b;
  padding-left: 0;
  font-weight: 300;
  margin: 0;
}

.summary:before {
  display: none;
}

.articleheader {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.authorcontainer {
  display: flex;
}

.authordetails {
  font-family: "Roboto Slab",Arial,Helvetica,sans-serif;
  font-size: 12px;
  color: rgb(74, 74, 74);
  line-height: 1.8;
  font-weight: 300;
  margin-top: 22px;
  margin-left: 15px;
}

.authorimage img {
  margin-top: 22px;
  border-radius: 50%;
  width: 47px;
  height: 47px;
  margin-bottom: 10px;
}

.posttext {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: rgb(74, 74, 74);
  padding-right: 35px;
  line-height: 2;
  font-weight: 300;
}

.tags {
  padding: 0;
  margin-bottom: 100px;
}

.tagbutton {
  border-radius: 4px;
  border: none;
  flex: 1;
  padding: 10px 8px 10px 8px;
  font-size: 18px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  text-align: center;
  margin-right: 32px;
  margin-top: 8px;
  width: 115px;
}

footer {
  margin: 0;
}

.innerfooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.footertop {
  display: flex;
  width: 100%;
}

.footercategories {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-right: 105px;
}

.footerresources {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-right: 105px;
}

.footercompany {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
}

.footertitle {
  color: #fff;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin-bottom: 16px;
  font-weight: 300;
}

.footeritem {
  display: block;
  color: rgb(216, 218, 221);
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 14px;
  margin-bottom: 6px;
  font-weight: 300;
}

.footerhr {
  width: 973px;
  color: #fff;
  opacity: 0.29;
  margin-top: 20px;
  margin-bottom: 27px;
}

.footerbottom {
  display: flex;
  justify-content: space-between;
}

.footerbottomtext {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 14px;
  color: rgb(216, 218, 221);
  font-weight: 300;
}

.footersocial{
  display: flex;
  justify-content: space-between;
  margin-left: 45px;
}

.slick-prev:before, .slick-next:before {
  color: black;
}

.footersocial i {
  color: rgb(216, 218, 221);
  font-size: 14px;
  margin-left: 20px;
  margin-top: 6px;
}

.fa-first {
  margin-left: 0;
}

.relatedrow {
  display: flex;
  justify-content: space-between;
  margin-left: 80px;
  margin-right: 80px;
}

.relatedbox {
  flex: 1;
  display: flex;
  justify-content: space-between;
  border: 1px solid rgb(230, 230, 230);
  margin-right: 22px;
  height: 242px;
  padding-right: 77px;
}

.relatedimage {
  flex: 1;
  height: 100%;
}

.relatedimage img {
  height: 100%;
  width: 100%;
}

.relatedcontent {
  flex: 2;
  display: flex;
  flex-direction: column;
  margin-left: 21px;
}

.relatedtitle {
  font-family: "Roboto Slab",Arial,Helvetica,sans-serif;
  font-size: 16px;
  color: rgb(0, 0, 0);
  margin-top: 16px;
  font-weight: 300;
}

.relatedarticlecontent{
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: rgb(74, 74, 74);
  margin-top: 8px;
  margin-bottom: 11px;
  font-weight: 300;
}

.relatedauthor {
  display: flex;
}

.relateddetails {
  display: flex;
  flex-direction: column;
}

.relatedauthorimage {
  margin-right: 13px;
  margin-top: 4px;
}

.relatedauthorname {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: rgb(74, 74, 74);
  font-weight: 300;
}

.relatedarticledetails {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: rgb(155, 155, 155);
  margin-bottom: 10px;
  font-weight: 300;
}

.articledetails {
  margin-top: 25px;
  margin-left: 10px;
}

/*Placeholder rules*/

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #8F96A0  !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #8F96A0 !important;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #8F96A0  !important;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #8F96A0  !important;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color: #8F96A0  !important;
}

::placeholder { /* Most modern browsers support this now. */
   color: #8F96A0  !important;
}

/*Placeholder rules*/

.warning {
  font-family: "Open Sans","Roboto Slab",Arial,Helvetica,sans-serif;
  font-size: 14px;
  color: rgb(74, 74, 74);
  border: 1px solid #FF9797;
  background-color: rgb(255, 237, 233);
  padding: 0 15px 0 15px;
  margin-top: 7px;
  margin-bottom: 7px;
  border-radius: 8px;
  display: inline-block;
}

.note {
  font-family: "Open Sans","Roboto Slab",Arial,Helvetica,sans-serif;
  font-size: 18px;
  color: rgb(74, 74, 74);
  border: 1px solid rgb(195, 234, 199);
  background-color: rgb(240, 254, 240);
  padding: 0 15px 0 15px;
  margin-top: 7px;
  margin-bottom: 7px;
  border-radius: 8px;
  display: inline-block;
}

.bestpractice {
  font-family: "Open Sans","Roboto Slab",Arial,Helvetica,sans-serif;
  font-size: 14px;
  color: rgb(74, 74, 74);
  border: 1px solid #9B9BFF;
  background-color: rgb(240, 243, 254);
  padding: 0 15px 0 15px;
  margin-top: 7px;
  margin-bottom: 7px;
  border-radius: 8px;
  display: inline-block;
}

.feedbackrow {
  display: flex;
  margin-bottom: 63px;
  width: 40%;
  background-color: #f6f9fc;
  height: 80px;
}

.feedbackrowhidden {
  display: none;
}

.feedbackbuttons {
  display: flex;
  justify-content: space-between;
  margin-top: 22px;
}

.feedbacktitle {
  font-family: "Roboto Slab",Arial,Helvetica,sans-serif;
  color: #000000;
  margin-bottom: 20px;
  margin-right: 25px;
  font-size: 18px;
  margin-top: 26px;
  margin-left: 20px;
}

.feedbackrowalternate {
  font-family: "Roboto Slab",Arial,Helvetica,sans-serif;
  color: #000000;
  font-size: 20px;
  opacity: 0;
  transition: all 0.5s ease;
  display: none;
}

.feedbackrowalternateshow {
  opacity: 1;
  display: block;
  margin: 0 auto;
  margin-bottom: 137px;
}

.thumbsup, .thumbsdown {
  border: 0px solid #ffffff;
  background-color: #162036;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  font-size: 18px;
  color: #fff;
}

.thumbsdown {
  opacity: 1;
  transition: all 0.3s ease;
}

.thumbsdownclicked {
  opacity: 0;
}

.thumbsup {
  margin-right: 10px;
  transition: all 0.5s ease;
}

.thumbsupclicked {
  transform: translate(72px, 0px);
  background-color: #162036;
  color: #fff;
}

.flexholder {
  width: 410px;
  visibility: hidden;
}

.sidebar {
  margin-right: 40px;
  position: absolute;
  width: 31%;
  height: 10%;
  padding-left: calc((100% - 1480px) / 2);
  height: 100%;
  bottom: 0;
  background-color: #F2F2F2;
}

.innerlink {
  width: 60%;
  line-height: 1.6;
}

.releasenotes {
  position: fixed;
  top: 780px;
  border-top: 1px solid rgba(256,256,256);
  width: 14.5%;
  left: 160px;
  color: #000000;
  font-family: "Roboto Slab",Arial,Helvetica,sans-serif;
  font-size: 16px;
  padding-top: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.articletop {
  display: flex;
  justify-content: space-between;
  width: 69%;
  margin-left: 590px;
  height: 100px;
}

.algolia-autocomplete {
  width: 100%;
  height: 100%;
}

.login {
  border-right: none;
  border-top: none;
  border-bottom: solid 1px #9B9B9B;
  border-left: solid 1px #9B9B9B;
  flex: 1;
  text-align: center;
  padding-top: 32px;
  font-size: 21px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  color: #8F96A0;
  font-weight: 100;
}

.activepage {
  color: #5879DA !important;
}

.chapterlist {
  width: 54%;
}
