<footer class="site-footer">
  <div class="innerfooter">
    <div class="footertop">
      <span class="footertext"> LivePerson Inc 2018 &nbsp;&nbsp;|&nbsp;&nbsp; Copyright Control</span>
    </div>

</footer>
<!-- this hidden footer for kepping the place of the fixed footer in the page-->
<footer class="footerPlaceHolder" style="visibility: hidden; bottom:0px;display:none">
        <div class="container inner-footer">
            <div class="row">
                <ul>
                    <li  class="col-lg-2 col-md-2 col-sm-12 col-xs-12 logo"></li>
                    <li  class="col-lg-1 col-md-1 col-sm-4 col-xs-6">Copyright</li>
                    <li  class="col-lg-1 col-md-1 col-sm-4 col-xs-6">Disclaimer</li>
                    <li class="col-lg-1 col-md-1 col-sm-4 col-xs-6">Privacy Policy</li>
                    <li class="col-lg-1 col-md-1 col-sm-4 col-xs-6">Terms of Use</li>
                    <li class="col-lg-2 col-md-1 col-sm-4 col-xs-6">API Terms of Use</li>
                    <li class="col-lg-4 col-md-4 col-sm-4 col-xs-6 last"><div>&copy;{{ site.time | date: "%Y"  }} {{site.company_name}}. All rights reserved.</div></li>
                </ul>
            </div>
        </div>
</footer>
