<footer class="site-footer">
  <div class="innerfooter">
    <div class="footertop">
      <div class="footercategories">
        <div class="footertitle">Categories</div>
        <div class="footeritem">Getting Started with Messaging</div>
        <div class="footeritem">Designing Customer Experience</div>
        <div class="footeritem">Messaging Channels</div>
        <div class="footeritem">Effective Operations</div>
        <div class="footeritem">FAQs and Best Practices</div>
        <div class="footeritem">Secure Messaging</div>
        <div class="footeritem">Developing In-App Messaging</div>
      </div>
      <div class="footerresources">
        <div class="footertitle">Resources</div>
        <div class="footeritem">Customer Success Stories</div>
        <div class="footeritem">Reports</div>
        <div class="footeritem">Videos</div>
        <div class="footeritem">Developers</div>
        <div class="footeritem">Training</div>
      </div>
      <div class="footercompany">
        <div class="footertitle">Company</div>
        <div class="footeritem">Investor Relations</div>
        <div class="footeritem">Careers</div>
        <div class="footeritem">Culture</div>
        <div class="footeritem">News, Awards, Events</div>
        <div class="footeritem">Blog</div>
      </div>
    </div>
    <hr class="footerhr"/>
    <div class="footerbottom">
      <div class="footerbottomtext">Language: English us &#x24B8; 2017 LivePerson, Inc. All rights reserved &bull; Copyright &bull; Disclaimer &bull; Privacy Policy &bull; Terms of Use</div>
      <div class="footersocial">
        <a href="http://twitter.com/liveperson"><i class="fa footericon fafirst fa-twitter" aria-hidden="true"></i></a>
        <a href="http://www.facebook.com/LivePersonInc"><i class="fa footericon fa-facebook" aria-hidden="true"></i></a>
        <a href="https://www.instagram.com/livepersonlife/"><i class="fa footericon fa-instagram" aria-hidden="true"></i></a>
        <a href="http://www.linkedin.com/company/164748"><i class="fa footericon fa-linkedin" aria-hidden="true"></i></a>
        <a href="https://www.youtube.com/user/MyLivePerson"><i class="fa footericon fa-youtube-play" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
</footer>
<!-- this hidden footer for kepping the place of the fixed footer in the page-->
<footer class="footerPlaceHolder" style="visibility: hidden; bottom:0px;display:none">
        <div class="container inner-footer">
            <div class="row">
                <ul>
                    <li  class="col-lg-2 col-md-2 col-sm-12 col-xs-12 logo"></li>
                    <li  class="col-lg-1 col-md-1 col-sm-4 col-xs-6">Copyright</li>
                    <li  class="col-lg-1 col-md-1 col-sm-4 col-xs-6">Disclaimer</li>
                    <li class="col-lg-1 col-md-1 col-sm-4 col-xs-6">Privacy Policy</li>
                    <li class="col-lg-1 col-md-1 col-sm-4 col-xs-6">Terms of Use</li>
                    <li class="col-lg-2 col-md-1 col-sm-4 col-xs-6">API Terms of Use</li>
                    <li class="col-lg-4 col-md-4 col-sm-4 col-xs-6 last"><div>&copy;{{ site.time | date: "%Y"  }} {{site.company_name}}. All rights reserved.</div></li>
                </ul>
            </div>
        </div>

</footer>
