<footer class="site-footer">
  <div class="innerfooter">
    <div class="footertop">
      <div class="footercategories">
        <div class="footertitle">Categories</a></div>
        <div class="footeritem"><a href="/getting-started-with-messaging.html">Getting Started with Messaging<a></a></div>
        <div class="footeritem"><a href="/bots.html">Bots</a></div>
        <div class="footeritem"><a href="/customer-experience.html">Customer Experience</a></div>
        <div class="footeritem"><a href="/messaging-channels.html">Messaging Channels</a></div>
        <div class="footeritem"><a href="/messaging-operations.html">Messaging Operations</a></div>
        <div class="footeritem"><a href="/agents-and-managers.html">Agents and Managers</a></div>
        <div class="footeritem"><a href="/security.html">Security</a></div>
      </div>
      <div class="footerresources">
        <div class="footertitle">Resources</div>
        <div class="footeritem"><a href="https://www.liveperson.com/resources/customer-success-story/">Customer Success Stories</a></div>
        <div class="footeritem"><a href="https://www.liveperson.com/resources/">Reports</a></div>
        <div class="footeritem"><a href="https://www.liveperson.com/resources/">Videos</a></div>
        <div class="footeritem"><a href="https://developers.liveperson.com/">Developers</a></div>
        <div class="footeritem"><a href="https://training.liveperson.com/">Training</a></div>
      </div>
      <div class="footercompany">
        <div class="footertitle">Company</div>
        <div class="footeritem"><a href="https://www.liveperson.com/company/ir">Investor Relations</a></div>
        <div class="footeritem"><a href="https://www.liveperson.com/company/careers">Careers</a></div>
        <div class="footeritem"><a href="https://www.liveperson.com/company/culture">Culture</a></div>
        <div class="footeritem"><a href="https://www.liveperson.com/company/news">News, Awards, Events</a></div>
        <div class="footeritem"><a href="https://www.liveperson.com/connected-customer">Blog</a></div>
      </div>
    </div>
    <hr class="footerhr"/>
    <div class="footerbottom">
      <div class="footerbottomtext">Language: English us &#x24B8; 2017 LivePerson, Inc. All rights reserved &bull; <a href="https://www.liveperson.com/policies/copyright">Copyright</a> &bull; <a href="https://www.liveperson.com/policies/disclaimer">Disclaimer</a> &bull; <a href="https://www.liveperson.com/policies/privacy">Privacy Policy</a> &bull; <a href="https://www.liveperson.com/policies/terms-of-use">Terms of Use</a></div>
      <div class="footersocial">
        <a href="http://twitter.com/liveperson"><i class="fa footericon fafirst fa-twitter" aria-hidden="true"></i></a>
        <a href="http://www.facebook.com/LivePersonInc"><i class="fa footericon fa-facebook" aria-hidden="true"></i></a>
        <a href="https://www.instagram.com/livepersonlife/"><i class="fa footericon fa-instagram" aria-hidden="true"></i></a>
        <a href="http://www.linkedin.com/company/164748"><i class="fa footericon fa-linkedin" aria-hidden="true"></i></a>
        <a href="https://www.youtube.com/user/MyLivePerson"><i class="fa footericon fa-youtube-play" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
</footer>
<!-- this hidden footer for kepping the place of the fixed footer in the page-->
<footer class="footerPlaceHolder" style="visibility: hidden; bottom:0px;display:none">
        <div class="container inner-footer">
            <div class="row">
                <ul>
                    <li  class="col-lg-2 col-md-2 col-sm-12 col-xs-12 logo"></li>
                    <li  class="col-lg-1 col-md-1 col-sm-4 col-xs-6">Copyright</li>
                    <li  class="col-lg-1 col-md-1 col-sm-4 col-xs-6">Disclaimer</li>
                    <li class="col-lg-1 col-md-1 col-sm-4 col-xs-6">Privacy Policy</li>
                    <li class="col-lg-1 col-md-1 col-sm-4 col-xs-6">Terms of Use</li>
                    <li class="col-lg-2 col-md-1 col-sm-4 col-xs-6">API Terms of Use</li>
                    <li class="col-lg-4 col-md-4 col-sm-4 col-xs-6 last"><div>&copy;{{ site.time | date: "%Y"  }} {{site.company_name}}. All rights reserved.</div></li>
                </ul>
            </div>
        </div>
</footer>
