<!--Navigation-->
<div class="navcontainer">
  <div class="navlogo"><a href="index.html"><img src="img/lpLogo.png" /></a></div>
  <div class="navrest">
  <div class="aa-input-container" id="aa-input-container">
    <input type="search" id="aa-search-input" class="aa-input-search" placeholder="Search" name="search" autocomplete="on" />
      <div class="search-cancel">
        <svg viewbox="0 0 40 40">
          <path class="close-x" d="M 10,10 L 30,30 M 30,10 L 10,30" />
        </svg>
    </div>
  </div>
    <div class="navbuttons">
      <div class="navcontactus">Contact Us</div>
      <div class="navlogin">Login</div>
    </div>
  </div>
</div>
