<!DOCTYPE html>
<head>
    {% include head.html %}

     <link rel="stylesheet" type="text/css" href="css/category.css">
     <link rel="stylesheet" type="text/css" href="css/inner-page.css">
     <meta name="description" content="LivePerson for Developers. Build on LiveEngage with our powerful digital toolbox">
     <meta name="keywords" content="APIs, SDKs, Mobile development, LiveEngage, Agent workspace, Tag, JSON examples, Click to message, Click to chat, Chat window, Skills, Agent Groups, iOS, Android, Mobile devices, Integrations, Live chat, Agent widget, Reporting, Analytics">
     <meta name="author" content="LivePerson Inc.">
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.css" />
</head>
<body>
  {% include topnav.html %}
  <div class="categorycontainer">
    <div class="categorycarousel">
      <div class="carouselitem">Getting Started</div>
      <div class="carouselitem">Customer Experience</div>
      <div class="carouselitem">Messaging Channels</div>
      <div class="carouselitem">Effective Operations</div>
      <div class="carouselitem">FAQs &amp; Best Practices</div>
      <div class="carouselitem">Secure Messaging</div>
      <div class="carouselitem">In-App Messaging</div>
    </div>
	<div class="categorytitle">
		{{ page.title }}
	</div>
	<hr class="categoryhr">
	<div class="categoryboxcontainer">
    <!-- assign a variable with the title of the CATEGORY so that this page works for all categories -->
    {% assign categoryname = page.title %}
    <!-- use the variable that we assigned in the last line to filter through page. All pages belonging to the cateogry displayed will be rendered -->
    {% assign categoryfilter = site.pages | where_exp: "page", "page.level3 == categoryname" %}
    <!-- for each page that meets the above criteria, render a firstbox and then a regular box -->
    {% for page in categoryfilter %}
    {% if forloop.first %}
    <a href="/designing-customer-experience-example1.html">
    <div class="categoryfirstbox">
			<img class="categoryfirstboximg" src="img/{{ page.title | slugify }}.png">
			<div class="categoryfirstboxcontent">
				<div class="categoryfirstboxtitle">
					{{ page.title }}
				</div>
				<div class="categoryfirstboxtext">
					{{ page.summary }}
				</div>
				<div class="categoryfirstboxauthor">
					<div class="authorimage categoryimage"><img src="img/{{ page.authorname | slugify }}.png"></div>
					<div class="articledetails">
						<div class="authorname">
							{{ page.authorname }} &bull; {{ page.authortitle }}
						</div>
						<div class="documentdetails">
							Last updated {{ page.last_modified_at | date: '%D' }}  &bull; {{ page.readtime }} read
						</div>
					</div>
				</div>
			</div>
		</div>
  </a>
  {% endif %}
  {% endfor %}
  <!-- some of the box rows below are redundant, meant to house future documents. In the case of a large amount of files in a category, more rows will need to be added. Make sure you adjust the offset accordingly by adding 2. -->
  <div class="categoryboxrow">
  {% for page in categoryfilter offset:1 limit:2 %}
  {% assign mod = forloop.length | modulo: 2 %}
    {% if mod == 0 %}
      <!--  mod is even -->
		<div class="categorybox">
			<div class="categoryboximage"><img class="categoryboximage" src="img/{{ page.title | slugify }}.png"></div>
			<div class="categoryboxcontent">
				<div class="categoryboxtitle">{{ page.title }}</div>
				<div class="categoryboxtext">{{ page.summary }}</div>
				<div class="categoryfirstboxauthor">
					<div class="boxauthorimage"><img src="img/{{ page.authorname | slugify }}.png"></div>
					<div class="articledetails">
						<div class="boxauthorname">
							{{ page.authorname }} &bull; Option for Job Title
						</div>
						<div class="documentdetails">
							Last updated {{ page.last_modified_at | date: '%D' }}  &bull; {{ page.readtime }} read
						</div>
					</div>
				</div>
			</div>
		</div>
    {% else %}
    <!-- mod is odd -->
    <div class="categorybox">
			<div class="categoryboximage"><img class="categoryboximage" src="img/{{ page.title | slugify }}.png"></div>
			<div class="categoryboxcontent">
				<div class="categoryboxtitle">{{ page.title }}</div>
				<div class="categoryboxtext">{{ page.summary }}</div>
				<div class="categoryfirstboxauthor">
					<div class="boxauthorimage"><img src="img/{{ page.authorname | slugify }}.png"></div>
					<div class="articledetails">
						<div class="boxauthorname">
							{{ page.authorname }} &bull; Option for Job Title
						</div>
						<div class="documentdetails">
							Last updated {{ page.last_modified_at | date: '%D' }}  &bull; {{ page.readtime }} read
						</div>
					</div>
				</div>
			</div>
		</div>
    <div class="flexholder"></div>

  {% endif %}
  {% endfor %}
  </div>
  <div class="categoryboxrow">
    {% for page in categoryfilter offset:3 limit:2 %}
    {% assign mod = forloop.length | modulo: 2 %}
    {% if mod == 0 %}
    <!-- mod is even -->
    <div class="categorybox">
      <div class="categoryboximage"><img class="categoryboximage" src="img/{{ page.title | slugify }}.png"></div>
      <div class="categoryboxcontent">
        <div class="categoryboxtitle">{{ page.title }}</div>
        <div class="categoryboxtext">{{ page.summary }}</div>
        <div class="categoryfirstboxauthor">
          <div class="boxauthorimage"><img src="img/{{ page.authorname | slugify }}.png"></div>
          <div class="articledetails">
            <div class="boxauthorname">
              {{ page.authorname }} &bull; Option for Job Title
            </div>
            <div class="documentdetails">
              Last updated {{ page.last_modified_at | date: '%D' }}  &bull; {{ page.readtime }} read
            </div>
          </div>
        </div>
      </div>
    </div>
    {% else %}
    <!-- mod is odd -->
    <div class="categorybox">
      <div class="categoryboximage"><img class="categoryboximage" src="img/{{ page.title | slugify }}.png"></div>
      <div class="categoryboxcontent">
        <div class="categoryboxtitle">{{ page.title }}</div>
        <div class="categoryboxtext">{{ page.summary }}</div>
        <div class="categoryfirstboxauthor">
          <div class="boxauthorimage"><img src="img/{{ page.authorname | slugify }}.png"></div>
          <div class="articledetails">
            <div class="boxauthorname">
              {{ page.authorname }} &bull; Option for Job Title
            </div>
            <div class="documentdetails">
              Last updated {{ page.last_modified_at | date: '%D' }} &bull; {{ page.readtime }} read
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flexholder"></div>

  {% endif %}
    {% endfor %}
  </div>
  <div class="categoryboxrow">
    {% for page in categoryfilter offset:5 limit:2 %}
    {% assign mod = forloop.length | modulo: 2 %}
    {% if mod == 0 %}
    <!-- mod is even -->
    <div class="categorybox">
      <div class="categoryboximage"><img class="categoryboximage" src="img/{{ page.title | slugify }}.png"></div>
      <div class="categoryboxcontent">
        <div class="categoryboxtitle">{{ page.title }}</div>
        <div class="categoryboxtext">{{ page.summary }}</div>
        <div class="categoryfirstboxauthor">
          <div class="boxauthorimage"><img src="img/{{ page.authorname | slugify }}.png"></div>
          <div class="articledetails">
            <div class="boxauthorname">
              {{ page.authorname }} &bull; Option for Job Title
            </div>
            <div class="documentdetails">
              Last updated {{ page.last_modified_at | date: '%D' }} &bull; {{ page.readtime }} read
            </div>
          </div>
        </div>
      </div>
    </div>
    {% else %}
    <!-- mod is odd -->
    <div class="categorybox">
      <div class="categoryboximage"><img class="categoryboximage" src="img/{{ page.title | slugify }}.png"></div>
      <div class="categoryboxcontent">
        <div class="categoryboxtitle">{{ page.title }}</div>
        <div class="categoryboxtext">{{ page.summary }}</div>
        <div class="categoryfirstboxauthor">
          <div class="boxauthorimage"><img src="img/{{ page.authorname | slugify }}.png"></div>
          <div class="articledetails">
            <div class="boxauthorname">
              {{ page.authorname }} &bull; Option for Job Title
            </div>
            <div class="documentdetails">
              Last updated {{ page.last_modified_at | date: '%D' }} &bull; {{ page.readtime }} read
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flexholder"></div>

  {% endif %}
    {% endfor %}
  </div>
  </div>
  </div>
    <div class="backtotopcontainer">
    <a href="#" class="backtotop">
    <i class="fa fa-angle-up"></i></a>
    <span class="backtotoptext">Back To Top</span>
    </div>
</div>
{% include footer.html %}
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="slick/slick.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
  $('.categorycarousel').slick({
    slidesToShow: 5,
    slidesToScroll: 1,
    infinite: true,
    arrows: true,
    centerMode: false,
    speed: 200,
    variableWidth: true,
  });
});
</script>
</body>
</html>
