<!DOCTYPE html>
<head>
    {% include head.html %}

     <link rel="stylesheet" type="text/css" href="css/category.css">
     <link rel="stylesheet" type="text/css" href="css/inner-page.css">
     <meta name="description" content="LivePerson for Developers. Build on LiveEngage with our powerful digital toolbox">
     <meta name="keywords" content="APIs, SDKs, Mobile development, LiveEngage, Agent workspace, Tag, JSON examples, Click to message, Click to chat, Chat window, Skills, Agent Groups, iOS, Android, Mobile devices, Integrations, Live chat, Agent widget, Reporting, Analytics">
     <meta name="author" content="LivePerson Inc.">
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.css" />
</head>
<body>
  {% include topnav.html %}
  <div class="categorycontainer">
    <div class="categorycarousel">
      <div class="carouselitem">Getting Started</div>
      <div class="carouselitem">Customer Experience</div>
      <div class="carouselitem">Messaging Channels</div>
      <div class="carouselitem">Effective Operations</div>
      <div class="carouselitem">FAQs &amp; Best Practices</div>
      <div class="carouselitem">Secure Messaging</div>
      <div class="carouselitem">In-App Messaging</div>
    </div>
	<div class="categorytitle">
		GETTING STARTED WITH MESSAGING
	</div>
	<hr class="categoryhr">
	<div class="categoryboxcontainer">
    {% assign categoryfilter = site.pages | where_exp: "page", "page.level3 == 'Getting Started with Messaging'" %}
    {% for page in categoryfilter %}
    {% if forloop.first}
    <a href="/beginners-guide-to-messaging.html">
    <div class="categoryfirstbox">
			<img class="categoryfirstboximg" src="img/gettingstartedwithmessagingbigbox.png">
			<div class="categoryfirstboxcontent">
				<div class="categoryfirstboxtitle">
					Your Beginner's Guide to Messaging
				</div>
				<div class="categoryfirstboxtext">
					This is a messaging Q&amp;A for brands to find answers to the most common questions about messaging. This is an article that is found via the Connection Area.
				</div>
				<div class="categoryfirstboxauthor">
					<div class="authorimage categoryimage"><img src="img/Cory%20House.png"></div>
					<div class="articledetails">
						<div class="authorname">
							Cory House &bull; Option for Job Title
						</div>
						<div class="documentdetails">
							Dec 8 &bull; 4 min read
						</div>
					</div>
				</div>
			</div>
		</div>
  </a>
  {% endif %}
  {% else %}
  <div class="categoryboxrow">
  {% for page in categoryfilter %}
		<div class="categorybox">
			<div class="categoryboximage"><img class="categoryboximage" src="img/{{ page.title | slugify }}.png"></div>
			<div class="categoryboxcontent">
				<div class="categoryboxtitle">{{ page.title }}</div>
				<div class="categoryboxtext">{{ page.summary }}</div>
				<div class="categoryfirstboxauthor">
					<div class="boxauthorimage"><img src="img/Cory%20House.png"></div>
					<div class="articledetails">
						<div class="boxauthorname">
							{{ page.authorname }} &bull; Option for Job Title
						</div>
						<div class="documentdetails">
							Dec 8 &bull; {{ page.readtime }}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
  </div>
    <div class="backtotopcontainer">
    <a href="#" class="backtotop">
    <i class="fa fa-angle-up"></i></a>
    <span class="backtotoptext">Back To Top</span>
    </div>
</div>
{% include footer.html %}
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="slick/slick.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
  $('.categorycarousel').slick({
    slidesToShow: 5,
    slidesToScroll: 1,
    infinite: true,
    arrows: true,
    centerMode: false,
    speed: 200,
    variableWidth: true,
  });
});
</script>
</body>
</html>
