<!DOCTYPE html>
<html>
<head>
    {% include head.html %}
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.css" />
</head>

<body>
<!--Begin top banner-->
<div class="homebanner">
  <div class="hometopnav">
    <div class="homeicon">
      <img src="img/lpLogo.png"/>
    </div>
    <div class="homebuttons">
      <div class="contactus">Contact Us</div>
      <div class="login">Log In</div>
    </div>
  </div>
  <div class="homebannercontent">
    <div class="homecontenticon">
      <img src="img/brain.png"/>
    </div>
    <div class="homebannertext">
      <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry</span>
    </div>
    <div class="homesearch aa-input-search">
        <input type="search" id="aa-search-input" placeholder="Search" name="search" autocomplete="on" />
        <div class="search-cancel">
          <svg viewbox="0 0 40 40">
            <path class="close-x" d="M 10,10 L 30,30 M 30,10 L 10,30" />
          </svg>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Top banner ends-->
<!--Begin main content-->
<div class="homecontainer">


    <a class="homeboxlink" href="getting-started-with-messaging.html">
  <div class="homebox">
      <div class="boxicon">
  <img src="img/gettingStarted.png"/>
</div>
      <div class="boxtitle">GETTING STARTED WITH MESSAGING</div>
      <div class="boxtext">Lorem Ipsum is simply dummy text of the printing and typesetting industry It is a long established fact that a reader will bet.</div>
      <div class="boxauthor">{% assign catfilter = site.pages | where_exp: "page","page.level3 == 'Getting Started with Messaging'" %}
      {{ catfilter | size }} Articles</div>
    </div>
</a>
    <a class="homeboxlink" href="bots.html">
  <div class="homebox">
      <div class="boxicon">
        <img src="img/developing.png"/>
      </div>
      <div class="boxtitle singleline">BOTS</div>
      <div class="boxtext">Lorem Ipsum is simply dummy text of the printing and typesetting industry It is a long established fact that a reader will bet.</div>
      <div class="boxauthor">
      {% assign catfilter = site.pages | where_exp: "page","page.level3 == 'Bots'" %}
       {{ catfilter | size }} Articles
      </div>
    </div>
</a>
    <a class="homeboxlink" href="customer-experience.html">
  <div class="homebox">
      <div class="boxicon">
        <img src="img/designing.png"/>
      </div>
      <div class="boxtitle singleline">CUSTOMER EXPERIENCE</div>
      <div class="boxtext">Lorem Ipsum is simply dummy text of the printing and typesetting industry It is a long established fact that a reader will bet.</div>
      <div class="boxauthor">{% assign catfilter = site.pages | where_exp: "page","page.level3 == 'Customer Experience'" %}
      {{ catfilter | size }} Articles</div>
    </div>
</a>
    <a class="homeboxlink" href="messaging-channels.html">
  <div class="homebox">
      <div class="boxicon">
    <img src="img/channels.png"/>
</div>
      <div class="boxtitle singleline">MESSAGING CHANNELS</div>
      <div class="boxtext">Lorem Ipsum is simply dummy text of the printing and typesetting industry It is a long established fact that a reader will bet.</div>
      <div class="boxauthor">{% assign catfilter = site.pages | where_exp: "page","page.level3 == 'Messaging Channels'" %}
      {{ catfilter | size }} Articles</div>
    </div>
</a>


    <a class="homeboxlink" href="messaging-operations.html">
  <div class="homebox">
      <div class="boxicon">
  <img src="img/effective.png"/>
</div>
      <div class="boxtitle singleline">MESSAGING OPERATIONS</div>
      <div class="boxtext">Lorem Ipsum is simply dummy text of the printing and typesetting industry It is a long established fact that a reader will bet.</div>
      <div class="boxauthor">{% assign catfilter = site.pages | where_exp: "page","page.level3 == 'Messaging Operations'" %}
      {{ catfilter | size }} Articles
      </div>
    </div>
</a>
    <a class="homeboxlink" href="agents-and-managers.html">
  <div class="homebox">
      <div class="boxicon">
  <img src="img/faq.png"/>
    </div>
      <div class="boxtitle singleline">AGENTS AND MANAGERS</div>
      <div class="boxtext">Lorem Ipsum is simply dummy text of the printing and typesetting industry It is a long established fact that a reader will bet.</div>
      <div class="boxauthor">{% assign catfilter = site.pages | where_exp: "page","page.level3 == 'Agents and Managers'" %}
      {{ catfilter | size }} Article</div>
    </div>
</a>
    <a class="homeboxlink" href="security.html">
  <div class="homebox">
      <div class="boxicon">
  <img src="img/secure.png"/>
</div>
      <div class="boxtitle singleline">SECURITY</div>
      <div class="boxtext">Lorem Ipsum is simply dummy text of the printing and typesetting industry It is a long established fact that a reader will bet.</div>
      <div class="boxauthor">{% assign catfilter = site.pages | where_exp: "page","page.level3 == 'Security'" %}
      {{ catfilter | size }} Articles</div>
    </div>
</a>

    <a class="homeboxlink" href="#">
    <div class="homebox" style="visibility: hidden;">
      <div class="boxicon">
  <img src="img/designing.png"/>
</div>
      <div class="boxtitle singleline">DESIGNING CUSTOMER EXPERIENCE</div>
      <div class="boxtext">Lorem Ipsum is simply dummy text of the printing and typesetting industry It is a long established fact that a reader will bet.</div>
      <div class="boxauthor">1{% assign catfilter = site.pages | where_exp: "page","page.level3 == 'Designing Customer Experience'" %}
      {{ catfilter | size }} Articles</div>
    </div>
<a class="homeboxlink" href="#">
    <div class="homebox" style="visibility: hidden;">
      <div class="boxicon">
  <img src="img/designing.png"/>
</div>
      <div class="boxtitle singleline">DESIGNING CUSTOMER EXPERIENCE</div>
      <div class="boxtext">Lorem Ipsum is simply dummy text of the printing and typesetting industry It is a long established fact that a reader will bet.</div>
      <div class="boxauthor">{% assign catfilter = site.pages | where_exp: "page","page.level3 == 'Designing Customer Experience'" %}
      {{ catfilter | size }} Articles</div>
    </div>
</a>

</div>


</html>
