<!DOCTYPE html>
<head>
    {% include head.html %}

     <link rel="stylesheet" type="text/css" href="css/inner-page.css">
     <meta name="description" content="LivePerson for Developers. Build on LiveEngage with our powerful digital toolbox">
     <meta name="keywords" content="APIs, SDKs, Mobile development, LiveEngage, Agent workspace, Tag, JSON examples, Click to message, Click to chat, Chat window, Skills, Agent Groups, iOS, Android, Mobile devices, Integrations, Live chat, Agent widget, Reporting, Analytics">
     <meta name="author" content="LivePerson Inc.">
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.css" />
     <link rel="stylesheet" type="text/css" href="css/home.css" />


</head>
<body>
<!-- Page Content -->
<div class="container">
    <!-- Content Row -->
        <!-- Sidebar Column -->
        <div class="sidebar">
          <div class="sitelogo">
            <img src="img/desktop-home.png" />
          </div>
          {% include sidebar.html  %}
          <<div class="releasenotes">
            <div class="sidebarimage">
            <img src="img/releaseicon.png" />
            </div>
          <a href="#">Release Notes</a>
        </div>
        </div>

    <!-- Content Column -->
    <div class="content">
    <div class="articletop">
    <div class="aa-input-container" id="aa-input-container">
  <input type="search" id="aa-search-input" class="aa-input-search" placeholder="Search for knowledge" name="search" autocomplete="on" />
  <svg class="aa-input-icon" viewBox="654 -372 1664 1664">
      <path d="M1806,332c0-123.3-43.8-228.8-131.5-316.5C1586.8-72.2,1481.3-116,1358-116s-228.8,43.8-316.5,131.5  C953.8,103.2,910,208.7,910,332s43.8,228.8,131.5,316.5C1129.2,736.2,1234.7,780,1358,780s228.8-43.8,316.5-131.5  C1762.2,560.8,1806,455.3,1806,332z M2318,1164c0,34.7-12.7,64.7-38,90s-55.3,38-90,38c-36,0-66-12.7-90-38l-343-342  c-119.3,82.7-252.3,124-399,124c-95.3,0-186.5-18.5-273.5-55.5s-162-87-225-150s-113-138-150-225S654,427.3,654,332  s18.5-186.5,55.5-273.5s87-162,150-225s138-113,225-150S1262.7-372,1358-372s186.5,18.5,273.5,55.5s162,87,225,150s113,138,150,225  S2062,236.7,2062,332c0,146.7-41.3,279.7-124,399l343,343C2305.7,1098.7,2318,1128.7,2318,1164z" />
  </svg>
  <div class="search-cancel">
<svg viewbox="0 0 40 40">
  <path class="close-x" d="M 10,10 L 30,30 M 30,10 L 10,30" />
</svg>
</div>
</div>
<div class="login"><img src="img/loginlogo.png" class="loginicon" /></div>
</div>
  <div class="contentrow">
    <div class="inside-page-content">
      {% for chapter in site.data.chapters %}
        {% if forloop.first %}
        <div class="homeheadercontainer">
          <img class="homeheaderimage" src="img/{{ chapter.name | slugify }}.png" />
        <div class="hometitlecontainerfirst">
        <div class="h1">{{ chapter.name }}</div>
      </div>
        <div class="homeheadersubtitlefirst">
          <span class="homeheadersubtitletext">The 5 challenges call centers are facing with messaging</span>
          <span class="homeheadersubtitledetails"> {{ chapter.author }} | {{ page.last_modified_at | date: '%D' }}
          </span>
        </div>
        <div class="homeheadersummary">
          <span class="homeheadersummarytext">{{ chapter.summary }} </span><a class="readmorelink" href="{{ chapter.name | slugify }}.html">Read More +</a>
        </div>
        </div>
        {% endif %}
        {% endfor %}
        <div class="homerow">
        {% for chapter in site.data.chapters offset:1 limit: 2 %}
        <div class="homecontainer">
        <img class="homeheaderimage" src="img/{{ chapter.name | slugify }}.png" />
        <div class="hometitlecontainer">
        <div class="h1">{{ chapter.name }}</div>
        <span class="homeheadersubtitledetails"> {{ chapter.author }} | {{ page.last_modified_at | date: '%D' }}
        </span>
      </div>
        <div class="homeheadersubtitle">
          <span class="homeheadersubtitletext">{{ chapter.tagline }}</span>
        </div>
        <div class="homeheadersummary">
          <span class="homeheadersummarytext">{{ chapter.summary }}</span> <a class="readmorelink" href="{{ chapter.name | slugify }}.html">Read More +</a>
        </div>
      </div>
        {% endfor %}
      </div>
      <div class="homerow">
      {% for chapter in site.data.chapters offset:3 limit: 2 %}
      <div class="homecontainer">
      <img class="homeheaderimage" src="img/{{ chapter.name | slugify }}.png" />
      <div class="hometitlecontainer">
      <div class="h1">{{ chapter.name }}</div>
      <span class="homeheadersubtitledetails"> {{ chapter.author }} | {{ page.last_modified_at | date: '%D' }}
      </span>
    </div>
      <div class="homeheadersubtitle">
        <span class="homeheadersubtitletext">{{ chapter.tagline }}</span>
      </div>
      <div class="homeheadersummary">
        <span class="homeheadersummarytext">{{ chapter.summary }}</span> <a class="readmorelink" href="{{ chapter.name | slugify }}.html">Read More +</a>
      </div>
      </div>
      {% endfor %}
    </div>

    <div class="feedbackrow">
        <div class="feedbacktitle">Was this article helpful?</div>
        <div class="feedbackbuttons">
          <button onclick="centerThumbsup ()" class="thumbsup"><i class="fa fa-thumbs-up"></i></button>
          <button onclick="showDoorbellModal ()"class="thumbsdown"><i class="fa fa-thumbs-down"></i></button>
        </div>
      </div>
      <div class="feedbackrowalternate">THANK YOU FOR YOUR FEEDBACK!</div>
    </div>
  </div>
    <!-- /.row -->
    {% include footer.html %}
  </div>

<!-- /.container -->
</div>
<script type="text/javascript" src="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.js"></script>
<script type="text/javascript">
const search = docsearch({
apiKey: 'e386ebed16c8f70de3c914b3ace55ae6',
indexName: 'liveperson',
inputSelector: '.aa-input-search',
debug: false,
algoliaOptions: {
  hitsPerPage: 100
},
autocompleteOptions: {
  openOnFocus: true
}
});
</script>

<!-- this does not currently work because the search icon is in :before and JS cannot edit pseudo-classes.
<script type="text/javascript">
var inputElement = document.getElementById("aa-search-input");
var $el = $(".aa-search-input");
inputElement.setAttribute("oninput", "onInput(this)");
function onInput(el) {
    setTimeout(function () {
        if (el && el.value) {
            $("body").addClass("search-opened");
            $(".search-cancel").css("display","block");
            $el.pseudo("before", "content", "'hey'");
        } else {
            $("body").removeClass("search-opened");
            $(".search-cancel").css("display", "none");
            $el.pseudo("before", "content", "\f002");
        }
    }, 0);

};

    $(".search-cancel").click(function() {
      setTimeout(function() {
	       search.autocomplete.autocomplete.setVal('');
         search.autocomplete.focus();
      }, 10);
      $("body").removeClass("search-opened");
      $(".search-cancel").css("display","none");
      $el.pseudo("before", "content", "\f002");
    });
</script>
-->
<script type="text/javascript">
    window.doorbellOptions = {
        id: '7615',
        appKey: 'UYRbpqPwlQIABtilGdgbwVkD7IR8CB9UXlXP5cI74gHjpo1Buj97cveS66HK8fxP',
        hideButton: true
    };
    (function(w, d, t) {
        var hasLoaded = false;
        function l() { if (hasLoaded) { return; } hasLoaded = true; window.doorbellOptions.windowLoaded = true; var g = d.createElement(t);g.id = 'doorbellScript';g.type = 'text/javascript';g.async = true;g.src = 'https://embed.doorbell.io/button/'+window.doorbellOptions['id']+'?t='+(new Date().getTime());(d.getElementsByTagName('head')[0]||d.getElementsByTagName('body')[0]).appendChild(g); }
        if (w.attachEvent) { w.attachEvent('onload', l); } else if (w.addEventListener) { w.addEventListener('load', l, false); } else { l(); }
        if (d.readyState == 'complete') { l(); }
    }(window, document, 'script'));
</script>

</body>
{% if site.google_analytics %}
{% include google_analytics.html %}
{% endif %}
</html>
